// import starting from the src/ folder
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');
@import "css/variables.scss";
@import "css/reset.css";

html, body, #root, .app {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.app {
  font-family: 'Baloo Da 2', sans-serif;
  color: $grey-500;
  background-color: $grey-50;
  box-sizing: border-box;

  h1 {
    font-size: 54px;
    font-weight: 500;
  }

  .card {
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0px 4px 11px 1px rgba(0,0,0,0.07);
  }

  .click-detector {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
  }
}
