// greys
$black: #000000;
$white: #FFFFFF;
$grey-50: #F8F7F5;
$grey-100: #E9E9E9;
$grey-200: #9A9A9A;
$grey-300: #7C8999;
$grey-500: #2F2F2F;

// red
$red-300: #A2122F;

// green
$green-200: #86CCAE;

// teal
$teal-200: #65C0DC;

// blue
$blue-200: #8090F7;
